.container_publicidad_baner {
  width: 1400px;
  height: 800px;
  background-image: url(../../assets/stuf/pages/publicidad/baner.jpg);
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1390px) {
  /* You might not need this if the header should adapt */
  .container_publicidad_baner {
    width: 1300px;
  }
}
