.container_films_baner {
  width: 1400px;
  height: 800px;
  background-image: url(../../assets/stuf/pages/films/fondo.jpg);
  background-repeat: no-repeat;
}
.container_films {
  width: 1400px;
  margin-top: 80px;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 11px;
}
.container_films_baner_BG {
  width: 739px;
  height: 203px;
  background-color: transparent;
  background-image: url(/src/assets/stuf/main/us/baner.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  transform: translate(0px, 347px);
}

.container_films_baner_BG h2 {
  color: rgb(255, 192, 0);
  text-transform: uppercase;
  text-align: left;
  margin-left: 132px;
  font-size: 60px;
}
.container_films_baner_BG h3 {
  color: white;
  text-align: center;
  text-align: left;
  margin-left: 132px;
  font-style: italic;
  font-size: 22px;
}

.container_film_card {
  margin-bottom: 55px;
  margin-right: -14px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.container_film_card img {
  width: 344px;
  height: 497px;
  transition: transform 1s ease-out;
  cursor: pointer;
  border-radius: 25px;
}

.container_film_card img:hover {
  transform: scale(1.05);
}
.container_text_films {
  margin-left: 15px;
}
.film_title {
  color: rgb(255, 192, 0);
  text-transform: uppercase;
  text-align: left;
  font-size: 46px;
  transform: translateY(-14px);
}
.container_films_baner_BG h2,
h3 {
  transform: translateY(-5px);
}
.film_dir {
  font-size: 25px;
  width: 219px;
}
