.container_motionGraphic_baner {
  width: 1400px;
  height: 800px;
  background-image: url(../../assets/stuf/pages/MotionGraphic/baner.jpg);
  background-repeat: no-repeat;
}
.grap_title {
  color: rgb(255, 192, 0);
  text-transform: uppercase;
  text-align: left;
  font-size: 46px;
  transform: translateY(-14px);
}
