.container_player {
  width: 700px;
  height: 400px;
}
.play_bg_dark {
  display: flex;
  width: 1400px;
  height: 580px;
  margin: 0, auto;
  transform: translate(0px, 0px);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.play_bg_dark button {
  margin-top: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.4s ease-out;
  transform: translate(418px, -449px);
}
