.container_DisenoGrafico_baner {
  width: 1400px;
  height: 800px;
  background-image: url(../../assets/stuf/pages/DisenoGrafico/DisenoGrafico.jpg);
  background-repeat: no-repeat;
}
.container_DisenoGrafico {
  width: 1400px;
  margin-top: 80px;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.container_DisenoGrafico_baner_BG {
  width: 1000px;
  height: 375px;
  background-color: transparent;
  background-image: url(../../assets/stuf/pages/films/baner.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  transform: translate(0px, 257px);
}

.container_DisenoGrafico_baner_BG h2 {
  color: rgb(255, 192, 0);
  text-transform: uppercase;
  /*font-size: 60px;*/
  text-align: left;
  margin-left: 132px;
}
.container_DisenoGrafico_baner_BG h3 {
  color: white;
  text-align: center;
  text-align: left;
  margin-left: 132px;
}

.container_DisenoGrafico_card {
  margin-bottom: 55px;
  margin-right: 81px;
  margin-left: 69px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.container_DisenoGrafico_card img {
  width: 372px;
  height: 543px;
  transition: transform 1s ease-out;
  cursor: pointer;
}

.container_DisenoGrafico_card img:hover {
  transform: scale(1.05);
}
.container_text_DisenoGrafico {
  margin-left: 15px;
}
@media only screen and (max-width: 420px) {
  .container_DisenoGrafico_baner {
    width: 330px;
  }

  .container_DisenoGrafico {
    width: 330px;
  }
  .container_DisenoGrafico_baner_BG h2 {
    font-size: 36px;
    margin-left: 0px;
  }
  .container_DisenoGrafico_baner_BG h3 {
    font-size: 19px;
    margin-left: 0px;
  }
  .container_DisenoGrafico_baner_BG {
    width: 330px;
    height: 259px;
    transform: translate(0px, 342px);
  }
  .container_DisenoGrafico {
    width: 330px;
  }

  .container_DisenoGrafico_card img {
    width: 135px;
    height: 225px;
  }
  .container_DisenoGrafico_card {
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
