.container_nav_ul_Works {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  transform: translate(-274px, 86px);
}
.container_nav_ul_Works li {
  list-style-type: none;
  color: white;
}
