.container_footer {
  height: 279px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgb(255, 192, 0);
  font-size: 30px;
  margin-bottom: 60px;
  color: black;
}
.container_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container_info_1 img {
  transform: translateX(-21px);
}
.container_info_1 {
  margin-bottom: 61px;
}
.container_info_1 p {
  text-transform: uppercase;
  font-size: 26px;
  transform: translatey(-17px);
}
.container_info_2 p {
  transform: translatey(-5px);
  font-size: 22px;
}

.container_footer_button img {
  width: 60px;
  margin-left: 7px;
}

.container_footer_button {
  display: flex;
  margin-left: 55px;
  margin-top: 32px;
}
