* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url(./assets/stuf/imagen_fondo/imagen_fondo2.jpg);
  background-repeat: repeat;
  background-color: rgb(29, 29, 29);
  background-size: 250px;
  background-attachment: fixed;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
  color: white;
}
html {
  width: 1400px;
  margin: auto;
}
.encode_sans_condensed_medium {
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.encode_sans_condensed_bold {
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.shadowText {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*resposive 480*/

@media only screen and (max-width: 420px) {
  html {
    width: 320px;
  }
}
